@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Urbanist&display=swap');




:root {
    --cor-principal: #678D58;
    --cor-secundaria: #D2D5DD;
    --cor-terciaria: #E8EBE4;
    --cor-quarta:   #26413C;
    --cor-quinta: #31081F;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--cor-terciaria);
}

.cabecalho {
    background-color: var(--cor-principal);
    font-family: 'Abril Fatface', cursive;
    font-size: 1.7rem;
    display: flex;
    padding: 1% 6%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.imagem {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: var(--cor-quinta);
    font-size: 1.7rem
}
.imagem img {
    width: 5rem;
}

.nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.nav a {
    text-decoration: none;
    background-color: var(--cor-secundaria);
    color: var(--cor-quinta);
    font-size: 1.5rem;
    border: var(--cor-secundaria) 2px solid;
    border-radius: 2rem;
    padding: 6px 10px;
}

.apresentacao {
    display: flex;
    flex-direction: row;
    gap: 5%;
    padding: 6%;
}

.imagem-apresentacao img {
    width: 100%;
    border-radius: 1.7rem;
}

.texto {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.texto h2 {
    color: var(--cor-quinta);
    font-size: 2rem;
    font-family: 'Abril Fatface', cursive;
}
.texto p {
    font-size: 1.4rem;
    font-family: 'Urbanist', sans-serif;
}
.texto a {
    color: var(--cor-secundaria);
    font-family: 'Urbanist', sans-serif;
    background-color: var(--cor-quarta);
    text-decoration: none;
    border: var(--cor-principal) 1px solid;
    border-radius: 1.7rem;
    padding: 10px;
    width: 15%;
}

.servicos {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 6%;
}
.servicos h3 {
    font-size: 2.5rem;
    color: var(--cor-quinta);
}

.cards {
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: var(--cor-secundaria);
    border: var(--cor-secundaria) 1px solid;
    border-radius: 2rem;
    padding: 30px;
}
.card img{
    width: 100%;
    border-radius: 1rem;
}
.card h4 {
    font-size: 1.5rem;
    color: var(--cor-quinta);
    font-family: 'Abril Fatface', cursive;
}
.card p {
    font-size: 1rem;
    font-family: 'Urbanist', sans-serif;
}

.rodape {
    background-color: var(--cor-quarta);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 4%;
}

.redes {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.redes a {
    width: 4%;
}
.redes img {
    width: 100%;
}

.direitos {
    display: flex;
    justify-content: center;
    font-size: 1.3rem;
    font-family: 'Abril Fatface', cursive;
    color: white;
}

.loja {
    display: flex;
    flex-direction: row-reverse;
    gap: 20px;
    padding: 6%;
}
.loja img {
    width: 100%;
    border-radius: 2rem;
}

.loja-texto {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.loja-texto h2 {
    font-size: 2rem;
    font-family: 'Abril Fatface', cursive;
    color: var(--cor-quinta);
}
.loja-texto p {
    font-size: 1.2rem;
    font-family: 'Urbanist', sans-serif;
    color: var(--cor-quinta);
}

.historia {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    padding: 6%;
}
.historia h4 {
    font-size: 2rem;
    font-family: 'Abril Fatface', cursive;
    color: var(--cor-quinta);
}
.historia p{
    font-size: 1.2rem;
    font-family: 'Urbanist', sans-serif;
    color: var(--cor-quinta);   
}

@media screen and (max-width: 768px) {
    
    .cabecalho{
        font-size: 1.5;
    }
    .apresentacao {
        display: flex;
        flex-direction: column;
    }
    .texto a {
        width: 30%;
    }
    .cards {
        display: flex;
        flex-direction: column;
        gap: 50px;
    }
    .loja {
        display: flex;
        flex-direction: column;
    }

}